# PayPal - LIVE example (replace with your real live keys)
NEXT_PUBLIC_PAYPAL_CLIENT_ID=YOUR_LIVE_CLIENT_ID
NEXT_PUBLIC_PAYPAL_DISABLE_CARD=false

PAYPAL_CLIENT_ID=YOUR_LIVE_CLIENT_ID
PAYPAL_CLIENT_SECRET=YOUR_LIVE_CLIENT_SECRET
PAYPAL_ENV=live

# If you want to temporarily hide card funding in UI, set:
# NEXT_PUBLIC_PAYPAL_DISABLE_CARD=true
